rabbit_params:
  host: rabbit
  consume_from: yelp_user_stats_condition3
  produce_to:
    - yelp_users_5_or_more_reviews_and_same_text
  messages_to_group: 100

group_aggregates: []

operations:
  - name: LeqThan5Reviews
    type: Filter
    args:
      filter_by: count
      keep_cond: leq_than_5
  - name: AlwaysSameText
    type: Filter
    args:
      filter_by: text_is_unique
      keep_cond: is_true
  - name: UserProjector
    type: Project
    args:
      attributes:
        - user_id

message_pipeline:
  - AlwaysSameText
  - LeqThan5Reviews
  - UserProjector

message_pipeline_kwargs:
  ends_to_receive: 3
  ends_to_send: 1
  signature: user_stats_filter_5_and_unique_text

message_set_params:
  set_data_path: /data_volume/message_set