rabbit_params:
  host: rabbit
  consume_from: yelp_user_stats_condition1
  produce_to:
    - yelp_users_50_or_more_reviews
  messages_to_group: 100

group_aggregates: []

operations:
  - name: LeqThan50Reviews
    type: Filter
    args:
      filter_by: count
      keep_cond: leq_than_50
  - name: UserProjector
    type: Project
    args:
      attributes:
        - user_id

message_pipeline:
  - LeqThan50Reviews
  - UserProjector

message_pipeline_kwargs:
  ends_to_receive: 3
  ends_to_send: 1
  signature: user_stats_filter_50

message_set_params:
  set_data_path: /data_volume/message_set